/*  UITWISKELING KLEUREN */


/* #009bd DONKERBLAUW (ACTUALITEIT) */
/* ##f0811a ORANJE (BIBWIJZER) */
/* #dd3333 ROOD (MODERNISERING SO) */
/* #d15399 ROOS (ONDER DE LOEP)  */
/* #1c8fa2 APPELBLAUWZEEGROEN (REDACTIONEEL) */
/* #81BA27 GROEN (SPINNENWEB) */
/* #5690b7 NOG EEN BLAUW (VERSCHENEN IN VECTOR) */
/* #C9053F LOGO ROOD  */
/* #F0C1BF LOGO TRANSPARANT UNDERLINE */
/* #ebe9eb grijs tint van de website  */




/* wiskundeplan geel % #FDAF3A  */
/* rgb(253, 175, 58, 0,2) */



/* wom activiy title: #383f47*/
/* rgba(56, 63, 71, 0.50) */
:root {
	--main-title: #FDAF3A;
	--menu-part: #FDAF3A;
	--accent: #F0C1BF;
	--definition: #81BA27;
	--exercises: #383f47;
	--menu-1: #d15399;
	--menu-2:  #d15399;
}

img.brandlogo {
	border-radius: 10px;	
	max-height: 6rem;
}

img.xourselogo {
	max-height: 6rem;
	max-width: 20vw;
	/* border-radius: 10px; */
}


.main-title {
	background-color: var(--main-title);
	color: white;
	/* align-items: anchor-center; */
}


.toc .activity-card.active {
    background-color: #383f47;
    /* color: white;
    border-color: #292b2c; */
}

.toc .part {
    font-size: larger;
    background-color: var(--menu-part);
}

.main-inhoud .activity-title {
    background-color: #FDAF3A;
}


.main-inhoud .toc-search {
    background-color: var(--main-title);
}

.exercise, .exercise-content, .exercise.ui-accordion-header {
	--pba: var(--exercise-background-perc);
	--pbo: var(--exercise-border-perc);
	--r: var(--example-red);
	--g: var(--example-green);
	--b: var(--example-blue); 
	
	--background-color: rgba(56, 63, 71, 0.20);  
	
	--border-color: var(--exercises);	
	
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	border-left: 12px solid var(--border-color);
} 


.btn-primary {
    background-color: #1D8DB0;
    border: #1D8DB0;
}